{% extends 'dashboard.html' %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Ask Us Forms</h1>
          <p class="mb-4">Ask Us Forms
<!--            <a href="#" data-toggle="modal" data-target="#addmodal" class="btn btn-success btn-circle"><i class="fa fa-plus"></i></a>-->
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Ask us Forms</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>

                    <tr>
                      <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Service</th>
                        <th>Urgency</th>
                        <th>Pages</th>
                        <th>Domain</th>
                        <th>Reference</th>
                        <th>Implementation/ Not</th>
                        <th>Description</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Service</th>
                        <th>Urgency</th>
                        <th>Pages</th>
                        <th>Domain</th>
                        <th>Reference</th>
                        <th>Implementation/ Not</th>
                        <th>Description</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for i in range(0,len)%}
                  <tr>
                     <td >{{result[i][0]}}</td>
                     <td>{{result[i][1]}}</td>
                     <td>{{result[i][2]}}</td>
                     <td>{{result[i][3]}}</td>
                      <td>{{result[i][4]}}</td>
                      <td>{{result[i][5]}}</td>
                      <td>{{result[i][6]}}</td>
                      <td>{{result[i][7]}}</td>
                      <td>{{result[i][8]}}</td>
                      <td>{{result[i][9]}}</td>
                      <td>{{result[i][10]}}</td>
                      <td>
                        <a href="/admin/del-contactform/{{result[i][0]}}" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></a>
                      </td>
                </tr>
                {%endfor%}


                  </tbody>
                </table>
              </div>
            </div>
</div>


  <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Testimonails</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div>

          <form role="form" action="/admin/add-blogposts" method="POST" enctype="multipart/form-data">
                <div class="card-body">

                <div class="form-group">
                    <label>Choose Front Image<span style="color:red">*</span></label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" name="frntimage" id="frntimage" required>
                        <label class="custom-file-label" id="frntimagedata"></label>
                      </div>
                    </div>
                  </div>

                     <div class="form-group">
                    <label>Choose Image ( width=450px height=550px)<span style="color:red">*</span></label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image" id="image" required>
                        <label class="custom-file-label" id="imagedata"></label>
                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="Name">Name<span style="color:red">*</span></label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Name" required>
                  </div>


                  <div class="form-group">
                    <label for="Name">Post<span style="color:red">*</span></label>
                    <textarea class="form-control" rows="4" placeholder="Enter ..." name="description" required></textarea>
                  </div>

                    <div class="form-group">
                  <label for="displayonhome">Display on Home</label><br>
                      <input type="radio"  name="displayonhome" value="1">
                      <label for="displayonhome">Yes</label><br>
                      <input type="radio"  name="displayonhome" value="0" checked>
                      <label for="displayonhome">No</label><br>
                  </div>

                <!-- /.card-body -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <div class="card-footer">
                            <button type="submit" class="btn btn-primary" name="Submit" value="Submit">Submit</button>
                  </div>
                </div>
          </form>
        </div>
      </div>
    </div>
</div>
<div>
</div>
</div>
        <!-- /.container-fluid -->
{% endblock %}