<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Advay Research</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">

<style>

</style>
</head>

<body>




  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <a href="/" class="logo mr-auto"><img src="{{ url_for('static', filename='assets/img/logo.jpg')}}" alt="Uprisings-Logo" width="50" height="150"><b>ADVAY RESEARCH</b></a>
<!--        <h1 class="text-light"><a href="/"><span>Advay Research</span></a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->

      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/"><b>Home</b></a></li>
          <li><a href="#about"><b>About us</b></a></li>
          <li><a href="#services"><b>Services</b></a></li>
          <li><a href="#features"><b>Why Advay?</b></a> </li>
          <li><a href="#getquote"><b>Get a Quote</b></a></li>
          <li><a href="#askus"><b>Ask us</b></a></li>
          <li><a href="#Careers"><b>Career Opportunity</b></a> </li>
<!--          <li><a href="#portfolio"><b>Portfolio</b></a></li>-->
<!--          <li><a href="#team">Team</a></li>-->
<!--          <li><a href="#pricing">Pricing</a></li>-->
<!--          <li class="drop-down"><a href="">Drop Down</a>-->
<!--            <ul>-->
<!--              <li><a href="#">Drop Down 1</a></li>-->
<!--              <li class="drop-down"><a href="#">Drop Down 2</a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">Drop Down 3</a></li>-->
<!--              <li><a href="#">Drop Down 4</a></li>-->
<!--              <li><a href="#">Drop Down 5</a></li>-->
<!--            </ul>-->
<!--          </li>-->
          <li><a href="#contact"><b>Contact</b></a></li>

          <li class="get-started"><a href="#about">Get Started</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  {% block content %}{% endblock %}


<link href="https://fonts.googleapis.com/css?family=Hind:700" rel="stylesheet">





  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Advay Research</strong>. All Rights Reserved.
          </div>
          <div class="credits">
             The organization is solely a single ownership private independent technical firm run by qualified researcher. No representatives
             associated on behalf of <a href = "/">Advay Research</a>.<br> Any misuse will be punishable as per law.<br>
             All the links & Images used in this website is for promotional purpose.<br>
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            <div id="#uprisings"><br>Designed with <i class="icofont-ui-love"></i><span></span><a href="http://uprisings.in/">Uprisings</a></div>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="/privacypolicy">Privacy Policy</a>
            <a href="#getquote">Get Favourable Quote</a>
          </nav>
          <style>
               
            </style>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
             <center><div style="align-items:center" id="counter-area">Currently <span id="counter"></span> visitors right now</div></center>
             <script>
              function r(t,r){return Math.floor(Math.random()*(r-t+1)+t)}var interval=2e3,variation=5,c=r(500,2e3);$("#counter").text(c),setInterval(function(){var t=r(-variation,variation);c+=t,$("#counter").text(c)},interval);
            </script>
        </div>
        
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/counterup/counterup.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
  <script src="{{ url_for('static', filename='js/custom.js')}}"></script>

</body>

</html>